.chart-container {
  float: left;
  height: 29.33%;
  width: 29.33%;
  min-height: 500px;
  min-width: 500px;
  margin-right: 2%;
  margin-left: 2%;
}

.charts {
  width: 80%;
  min-width: 600px;
  height: 25%;
  min-height: 500px;
  clear: left;
  margin: auto;
}

.popularity-chart-container {
  height: 600px;
  width: 600px;
  padding-top: 20px;
  clear: left;
  margin: auto;
}

html {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(50, 50, 50);
}